#body {
	background-color:#000000;
}
#header {
    background-color:#101010;
    padding:5px;
}
#trailerheader {
    color:#FFFFFF;	
	font-family: "Trebuchet MS", Arial, Helvedica, sans-serif;
	font-size:40px;
	text-decoration: underline;
	text-indent:20px;
}
#trailerclip {
	text-align:center;
}
#trailernumber {
	text-align:left;
	text-indent:70px;
    color:#FFFFFF;	
	font-family: "Trebuchet MS", Arial, Helvedica, sans-serif;
	font-size:20px;
}
#tableofcontents {
    line-height:40px;
    background-color:#202020;
    width:collapse;
	height:1000px;
    float:left;
    padding:5px;
    color:#FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvedica, sans-serif;
}
#poll {
    background-color:#000000;
    font-family: "Trebuchet MS", Arial, Helvedica, sans-serif;
	font-size:15px;
    color:#FFFFFF;
    clear:both;
    text-align:center;
	padding:5px;	 	 
}

#links {color:#FFFFFF;}

#seriesheader {
    color:#FFFFFF;	
	font-family: "Trebuchet MS", Arial, Helvedica, sans-serif;
	font-size:40px;
	text-indent:20px;
}

#seriesinfo {
    color:#FFFFFF;
	font-family: "Trebuchet MS", Arial, Helvedica, sans-serif;
	text-indent: 50px;
}

#seriespic {
	text-align: center;
}